{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center pt-4">
    <div class="card shadow rounded-4" style="width: 500px;">
        <div class="card-body">
            <!-- Título -->
            <h1 class="text-center py-2 text-primary">Recuperar contraseña</h1>
            
            <!-- Descripción -->
            <p class="text-center text-muted mb-4">
                Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
            </p>
            
            <!-- Formulario -->
            <form method="POST" class="p-3">
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="📧 tu@email.com" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Enviar enlace</button>
                <a href="{% url 'login' %}" class="btn btn-outline-secondary w-100 mt-2">Volver al inicio de sesión</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
